header {
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: 28%;
    height: 120px;
}

#logo {
    width: 210px;
    height: 60px;
}

h1 {
    font-size: 35px;
}

.credit {
    color: #808080;
}

.author {
    text-decoration: none;
    color: #20A9E5;
}

.didascalia {
    font-size: 13px;
}