header {
    background-image: url("../img/pattern.png");
    background-color: #4EA0FF;
    background-repeat: repeat-x;
    background-size: 28%;
    height: 120px;
}

#logo {
    width: 210px;
    height: 60px;
}

h1 {
    font-size: 35px;
}

.credit, h3 {
    color: #808080;
}

.author {
    text-decoration: none;
    color: #20A9E5;
}

.didascalia {
    font-size: 13px;
}

.trh {
    background-color: #20A9E5;
}

.tr {
    background-color: #B1E5F2;
}

#column-important {
    width: 60%;
}

.banner {
    height: 210px;
    width: 300px;
    color: white;
    font-size: 2em;
}

#monitor {
    background-image: url('../img/monitor.jpg');
}

#graph {
    background-image: url('../img/graph.jpg');
}